@charset 'utf-8';
body { -ms-overflow-style: none; overflow: auto; }
::-webkit-scrollbar { display: none; }

#section6 img {
	width:100%;
}

#section6 img {
    margin-bottom:10px;
}

.section3 {
	padding: 160px 260px;
}

.service_title {
	float:left;
	width:20%;
	margin-top:20px;
	padding:0 27px;
	font-size:44px;
	font-weight:300;
	color:#222;
	border-left:2px solid #4b4e53;
	line-height:1.2;
}

.service_title p {
	font-weight:bold;	
}

.service_list_wrap {
	float:left;
	width:80%;
}

.service_list {
	
}
.service_list li {
	display:inline-block;
	width:16.66667%;
	text-align:center;
	vertical-align:top;
}
.service_list li a {
	display:block;
}
.service_list li .service_icon {
	width:100%;
	padding:30px 50px;
	font-size:41px;
	color:#9e9999;
}
.service_list li .service_name {
	height:28px;
	font-family:'Noto Sans KR', sans-serif;
	font-size:14px;
	color:#9e9999;
}

@media (max-width:1400px) {
	.section3 {
		padding:60px;
	}
	
	.service_title {
		font-size:30px;
		padding:0 18px;
	}

	.service_list li .service_icon {
		padding:23px 30px;
		font-size:30px;
	}
}

@media (max-width:820px) {
	.section3 {
		/*margin-top:29px;*/
		padding: 30px;
	}

	.service_title {
		float:none;
		width:100%;
	}

	.service_list_wrap {
		float:none;
		width:100%;
	}

	.service_list li {
		width:33.33%;
		text-align:center;
	}
}



#section6 img {
	width:100%;
}

#section6 img {
    margin-bottom:10px;
}

.firstSlider, .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item { height: 100%; }
.firstSlider {
	position: relative;
	width: 100%; height: 100%;
}
.firstSlider .loader {
	width: 100%; height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* 슬라이더 view */
.viewObj {
	position: absolute;
	right: 30px; bottom: 42px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	z-index: 10;
}
.viewObj i {
	padding:15px;
	cursor:pointer;
	color:rgba(255, 255, 255, 0.5);
}
.viewObj i.active {
	color:rgba(255, 255, 255, 1);
}
.viewObj i:hover {
	border-radius:50%;
	background-color:rgba(0, 0, 0, 0.5);
}
.pageObj {
	display:none;
	position: relative;
	margin-top:9px;
	width:100%;
  color: #666;
	font-family: 'Open Sans', sans-serif;
  font-size: 12px;
	text-align:center;
}
.pageObj .all:before {
	content: ' / ';
}

/* 슬라이더 버튼 */
.owl-nav {
	position: absolute;
	top:37%;
	margin: auto;
	width: 100%;
}
.owl-nav .owl-prev {
	position: absolute;
	top: 0; left: 50px;
	transition: background 0.5s;
}
.owl-nav .owl-prev:hover {
	background-color:rgba(0, 0, 0, 0.2) !important;
}
.owl-nav .owl-next {
	position: absolute;
	top: 0; right: 50px;
	transition: background 0.5s;
}
.owl-nav .owl-next:hover {
	background-color:rgba(0, 0, 0, 0.2) !important;
}

/* 슬라이더 dot */
.owl-dots {
	position:absolute;
	right:0; bottom:75px; left:0;
	width:600px;
	margin:auto;
	text-align:center;
}
.owl-dot {
	width:9px; height:9px;
	margin:3px 7px;
	background-color:rgba(255,255,255,1) !important;
	border-radius:30px;
	transition: width 0.5s;
}
.owl-dot.active {
	width:46px;
}

.itemList_wrap {
	position: relative;
	padding:0 70px;
	font-size:14px;
}
.itemList_wrap .swiper-container {
	position: static;
}
.itemList_wrap .swiper-container .swiper-pagination {
	position:relative;
	margin-top:40px;
}
.itemList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet {
	margin:0 7px;
	width:9px; height:9px;
	border-radius:30px;
	background:#888;
	transition: width 0.5s;
	opacity:1;
}
.itemList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width:46px;
	background:#183461;
}
.itemList_wrap .swiper-container .swiper-button-prev {
	width:80px; height:80px;
	top:26%; left:0;
	background:url('../../../../../img.einet.kr/responsive/home/carousel/theme01/arrow-left.png') center center no-repeat;
	background-size:cover;
	transition: opacity 0.5s;
}
.itemList_wrap .swiper-container .swiper-button-prev:hover {
	opacity:0.5;
}
.itemList_wrap .swiper-container .swiper-button-next {
	width:80px; height:80px;
	top:26%; right:0;
	background:url('../../../../../img.einet.kr/responsive/home/carousel/theme01/arrow-right.png') center center no-repeat;
	background-size:cover;
	transition: opacity 0.5s;
}
.itemList_wrap .swiper-container .swiper-button-next:hover {
	opacity:0.5;
}
.itemList_wrap a {
	display:inline-block;
	text-align:center;
}
.itemList_wrap a .imgWrap {
	position:relative;
	overflow:hidden;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.itemList_wrap a .imgWrap .loader {
	width:100%;
	padding-bottom:56.25%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	transition: all 0.3s ease-in-out;
}
.itemList_wrap a:hover .imgWrap .loader {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.itemList_wrap a .eng {
	padding-top:20px;
	color:#444;
	font-family:'Noto Sans KR', sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:1.33;
}
.itemList_wrap a .txt {
	color:#777;
	font-family:'Noto Sans KR', sans-serif;
	font-size:14px;
	line-height:1.86;
	letter-spacing:0.7px;
}

.itemList_wrap a .detailview {
	display:inline-block;
	width:160px; height:40px;
	color:#1b65b3;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	transition: background-color 0.5s;
}
.itemList_wrap a .detailview:hover {
	background-color:#d9ecff;
}
.itemList_wrap a .detailview i {
	margin-left:7px;
}

@media (max-width:1400px) {
	.firstSlider .owl-carousel .owl-item img {
		width: 100%;
		height: 100%;
		transition: width 0.3s;
	}
	.viewObj {
		bottom:43px;
		font-size: 18px;
	}
	.viewObj a {
		height: 32px;
		line-height: 34px;
	}
	.owl-nav {
		display:none;
	}
}

@media (max-width:820px) {
	.firstSlider {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		margin: auto;
	}
	.firstSlider .owl-carousel .owl-item img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
	.viewObj {
		right:0px; bottom:-40px;
		text-align: center;
	}
	.viewObj i {
		padding:6px;
		color:rgba(147, 147, 147, 0.5);
	}
	.viewObj i.active {
		color:rgba(147, 147, 147, 1);
	}
	.viewObj i:hover {
		background-color:rgba(0, 0, 0, 0.2);
	}
	.owl-nav {
		bottom: 8.6%;
	}
	.owl-dots {
		width:calc(100% - 60px);
	
		position:relative;
		top:0; right:0; bottom:0; left:0;
		padding:10px 0;
	}
	.owl-dot {
		width:5px; height:5px;
		margin:0px 5px;
		background-color:#888 !important;
	}
	.owl-dot.active {
		width:23px;
        background-color:#183461 !important;
	}


	.itemList_wrap {
		padding: 0;
	}
	.itemList_wrap .swiper-container .swiper-slide {
		width:300px;
	}
	.itemList_wrap a .detailview,
	.itemList_wrap .swiper-container .swiper-button-next,
	.itemList_wrap .swiper-container .swiper-button-prev {
		display:none;
	}
	.itemList_wrap a {
		border:1px solid #ddd;
	}
	.itemList_wrap a .eng {
		padding:15px 0 11px;
	}
	.itemList_wrap a .txt {
		padding:0 0 11px 0;
	}
	.itemList_wrap .swiper-container .swiper-pagination {
		display:none;
	}
}



.section2 {
	height: 100vh;
}


/* 슬라이더 슬로건 */
.section2 .sloganWrap {
	position: absolute;
	top:46%;
	left:50%;
	margin: auto;
	transform:translateX(-50%);
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	z-index: 30;
	overflow: hidden;
	pointer-events: none;  
}
.section2 .sloganWrap h5 {
	font-family:"Dancing Script",sans-serif;
font-size:60px;
font-weight:400;
font-style:normal;
line-height:60px;
letter-spacing:12px;
color:rgba(255,255,255,1);
text-shadow:rgba(0,0,0,0.5) 0px 2px 6px;
background-color:rgba(0,0,0,0);
padding:0;
margin:0px 0px 42px 0px;

}
.section2 .sloganWrap h6 {
	font-family:"Noto Sans KR",sans-serif;
font-size:30px;
font-weight:500;
font-style:normal;
line-height:36px;
letter-spacing:0px;
color:rgba(255,255,255,1);
text-shadow:rgba(0,0,0,0.5) 0px 2px 6px;
background-color:rgba(0,0,0,0);
padding:0;
margin:0;

}

@media ( max-width: 1400px ) {
	.section2 {
		height: 70vh;
	}
	.section2 .sloganWrap h5 {
		font-size: 54px;
		line-height: 54px;
	}
}
@media ( max-width: 820px ) {
	.section2 {
		height:auto;
		padding-top:56.25%;
        margin-bottom:50px;
	}
	.section2 .sloganWrap {
		display: none;
	}

}

#m-btn-prev:hover {
	background-color:#333;
}

.fa-chevron-left2 {
	background:;
  height:40px;
  width:40px;
	line-height:26px;
	border-radius:0 !important;
}

.fa-chevron-right2 {
	background:;
	height:40px;
  width:40px;
	line-height:26px;
	border-radius:0 !important;
}
#section6 img {
	width:100%;
}

#section6 img {
    margin-bottom:10px;
}

.roomList_wrap {
	position: relative;
	padding:0 70px;
	font-size:14px;
}
.roomList_wrap .swiper-container {
	position: static;
}
.roomList_wrap .swiper-container .swiper-pagination {
	position:relative;
	margin-top:40px;
}
.roomList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet {
	margin:0 7px;
	width:9px; height:9px;
	border-radius:30px;
	background:#888;
	transition: width 0.5s;
	opacity:1;
}
.roomList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width:46px;
	background:#222222;
}
.roomList_wrap .swiper-container .swiper-button-prev {
	width:80px; height:80px;
	top:26%; left:0;
	/*background:url('http://img.einet.kr/responsive/home/room/arrow-left-small.png') center center no-repeat;*/
    background:url('../../../../../img.einet.kr/responsive/home/room/arrow-left-small2.png') center center no-repeat;
	background-size:cover;
}
.roomList_wrap .swiper-container .swiper-button-prev:hover {
	opacity:0.5;
}
.roomList_wrap .swiper-container .swiper-button-next {
	width:80px; height:80px;
	top:26%; right:0;
	/*background:url('http://img.einet.kr/responsive/home/room/arrow-right-small.png') center center no-repeat;*/
    background:url('../../../../../img.einet.kr/responsive/home/room/arrow-right-small2.png') center center no-repeat;
	background-size:cover;
}
.roomList_wrap .swiper-container .swiper-button-next:hover {
	opacity:0.5;
}
.roomList_wrap a {
	display:inline-block;
	text-align:center;
}
.roomList_wrap a .imgWrap {
	position:relative;
	overflow:hidden;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.roomList_wrap a .imgWrap .loader {
	width:100%;
	padding-bottom:56.25%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	transition: all 0.3s ease-in-out;
}
.roomList_wrap a:hover .imgWrap .loader {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.roomList_wrap a .eng {
	font-family:"Noto Sans KR",sans-serif;
font-size:18px;
font-weight:700;
font-style:normal;
line-height:24px;
letter-spacing:0px;
color:rgba(68,68,68,1);
text-shadow:none;
padding:20px 0px 0px 0px;
margin:0px;
}

.roomList_wrap a .txt {
	font-family:"Noto Sans KR",sans-serif;font-size:15px;font-weight:700;font-style:normal;line-height:27px;letter-spacing:0.7px;color:rgba(119,119,119,1);text-shadow:none;padding:14px 0px 0px 0px;margin:0px;
}

.roomList_wrap a .detailview {
	display:inline-block;
	width:160px; height:40px;
	font-family:"Open Sans",sans-serif;
font-size:14px;
font-weight:700;
font-style:normal;
line-height:40px;
letter-spacing:0px;
color:rgba(27,101,179,1);
text-shadow:none;
padding:0px;
margin:0px;
	transition: background-color 0.5s; transition: letter-spacing 0.5s;
}

.roomList_wrap a .detailview:hover {
background-color:rgba(217,236,255,1);
}

.roomList_wrap a .detailview i {
	margin-left:7px;
}

.room_title {
    padding-bottom:30px;
    text-align:center;
}

@media (max-width:820px) {

	.roomList_wrap {
		padding: 0;
	}
	.roomList_wrap .swiper-container .swiper-slide {
		width:300px;
	}
	.roomList_wrap a .detailview,
	.roomList_wrap .swiper-container .swiper-button-next,
	.roomList_wrap .swiper-container .swiper-button-prev {
		/*display:none;*/
        display:block;
	}
    .roomList_wrap a .detailview { width:100%; }

	.roomList_wrap a {
		border:1px solid #ddd;
	}
	.roomList_wrap a .eng {
		padding:15px 0 11px;
	}
	.roomList_wrap a .txt {
		padding:0 0 11px 0;
	}
	.roomList_wrap .swiper-container .swiper-pagination {
		/*display:none;*/
        display:block;
	}

	.roomList_wrap .swiper-slide:first-child {
		/*margin-left:10px;*/
	}

	.room_title h3 {
font-size:30px !important;
}

	.room_title p {
font-size:16px !important;
}

    .room_title {
        padding-bottom:0px;
    }
    .room_title p {
        margin: 6px 0 !important;
    }

    .roomList_wrap .owl-dot.active {
        width:35px;
    }
    .roomList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet {
        margin:0 7px;
        width:6px; height:6px;
        border-radius:30px;
        background:#888;
        transition: width 0.5s;
        opacity:1;
    }
    .roomList_wrap .swiper-container .swiper-pagination {
        position:relative;
        margin-top:15px;
    }
}


.section5 {
	padding:160px 20px; /* padding:160px 260px; */
}

.room_title h3 {
	font-family:"Dancing Script",sans-serif;
font-size:44px;
font-weight:700;
font-style:normal;
line-height:27px;
letter-spacing:0px;
color:rgba(34,34,34,1);
text-shadow:none;
background-color:rgba(0,0,0,0);
padding:0;
margin:0;

}
.room_title p {
	font-family:"Noto Sans KR",sans-serif;
font-size:16px;
font-weight:400;
font-style:normal;
line-height:16px;
letter-spacing:0px;
color:rgba(136,136,136,1);
text-shadow:none;
background-color:rgba(0,0,0,0);
padding:0;
margin:32px 0px 32px 0px;

}
.room_title a {
	display:inline-block;
	width:200px; height:50px;

	font-family:"Open Sans",sans-serif;
font-size:14px;
font-weight:700;
font-style:normal;
line-height:50px;
letter-spacing:0px;
color:rgba(27,101,179,1);
text-shadow:none;
padding:0px;
margin:0px;

	transition: background-color 0.5s;
}

.room_title a:hover {
background-color:rgba(217,236,255,1);
}

/*
.room_title a:hover {
	background-color:#d9ecff;
}
*/


.room_title a i {
	margin-left:7px;
}

@media (max-width:1400px) {
	.section5 {
		/*padding:60px 0;*/
        padding:30px 0;
	}
}

@media (max-width:820px) {
    .room_title h3 {
        font-size:25px !important;
        line-height:35px
    }
    .room_title p {
        font-size:12px !important;
		display:none;
    }
    .room_title a {
        height:35px;
        line-height:30px;
    }
    .section5 {
        padding: 20px 0 15px;
    }

	.img_01{
		padding-top:50px;
	}
}

@media (max-width:600px) {
    .roomList_wrap .swiper-container { position:relative; }
    .roomList_wrap .swiper-container .swiper-pagination { position:absolute !important; bottom:130px; }
    .roomList_wrap a .eng { padding-top:30px; }
    .roomList_wrap a .detailview { margin-bottom:10px; }
}

#section6 img {
	width:100%;
}

#section6 img {
    margin-bottom:10px;
}

.section7 {
	padding:160px 20px; /* padding:160px 260px; */
}

.fac_title {
	padding-bottom:30px;
	text-align:center;
}
.fac_title h3 {
	font-family:"Dancing Script",sans-serif;
font-size:44px;
font-weight:700;
font-style:normal;
line-height:27px;
letter-spacing:0px;
color:rgba(34,34,34,1);
text-shadow:none;
background-color:rgba(0,0,0,0);
padding:0;
margin:0;

}
.fac_title p {
	font-family:"Noto Sans KR",sans-serif;
font-size:16px;
font-weight:400;
font-style:normal;
line-height:16px;
letter-spacing:0px;
color:rgba(136,136,136,1);
text-shadow:none;
background-color:rgba(0,0,0,0);
padding:0;
margin:32px 0px 32px 0px;

}
.fac_title a {
	display:inline-block;
	width:200px; height:50px;
	font-family:"Open Sans",sans-serif;font-size:14px;font-weight:700;font-style:normal;line-height:50px;letter-spacing:0px;color:rgba(27,101,179,1);text-shadow:none;padding:0px;margin:0px;
	transition: background-color 0.5s;
}

.fac_title a:hover {
background-color:rgba(217,236,255,1);
}

/*
.fac_title a:hover {
	background-color:#d9ecff;
}
*/

.fac_title a i {
	margin-left:7px;
}




.facList_wrap {
	position: relative;
	padding:0 70px;
	font-size:14px;
}
.facList_wrap .swiper-container {
	position: static;
}
.facList_wrap .swiper-container .swiper-pagination {
	position:relative;
	margin-top:40px;
}
.facList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet {
	margin:0 7px;
	width:9px; height:9px;
	border-radius:30px;
	background:#888;
	transition: width 0.5s;
	opacity:1;
}
.facList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width:46px;
	background:#222222;
}
.facList_wrap .swiper-container .swiper-button-prev {
	width:80px; height:80px;
	top:26%; left:0;
	background:url('../../../../../img.einet.kr/responsive/home/room/arrow-left-small.png') center center no-repeat;
	background-size:cover;
	transition: opacity 0.5s;
}
.facList_wrap .swiper-container .swiper-button-prev:hover {
	opacity:0.5;
}
.facList_wrap .swiper-container .swiper-button-next {
	width:80px; height:80px;
	top:26%; right:0;
	background:url('../../../../../img.einet.kr/responsive/home/room/arrow-right-small.png') center center no-repeat;
	background-size:cover;
	transition: opacity 0.5s;
}
.facList_wrap .swiper-container .swiper-button-next:hover {
	opacity:0.5;
}
.facList_wrap a {
	display:inline-block;
	text-align:center;
}
.facList_wrap a .imgWrap {
	position:relative;
	overflow:hidden;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.facList_wrap a .imgWrap .loader {
	width:100%;
	padding-bottom:56.25%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	transition: all 0.3s ease-in-out;
}
.facList_wrap a:hover .imgWrap .loader {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.facList_wrap a .eng {
	font-family:"Noto Sans KR",sans-serif;font-size:18px;font-weight:700;font-style:normal;line-height:24px;letter-spacing:0px;color:rgba(68,68,68,1);text-shadow:none;padding:20px 0px 0px 0px;margin:0px;
	/*
	padding-top:20px;
	color:#444;
	font-family:'Noto Sans KR', sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:1.33;
	*/
}
.facList_wrap a .txt {
	color:#777;
	font-family:'Noto Sans KR', sans-serif;
	font-size:14px;
	line-height:1.86;
	letter-spacing:0.7px;
}

.facList_wrap a .detailview {
	display:inline-block;
	width:160px; height:40px;
	color:#1b65b3;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	transition: background-color 0.5s;
}

.facList_wrap a .detailview:hover {
	background-color:#d9ecff;
}

.facList_wrap a .detailview i {
	margin-left:7px;
}


@media (max-width:1400px) {
	.section7 {
		padding:30px 0;
	}
}

@media (max-width:820px) {
	.facList_wrap {
		padding: 0;
	}
	.facList_wrap .swiper-container .swiper-slide {
		width:300px;
	}
	.facList_wrap a .detailview,
	.facList_wrap .swiper-container .swiper-button-next,
	.facList_wrap .swiper-container .swiper-button-prev {
<!--		display:none;-->
	}
	.facList_wrap a {
		border:1px solid #ddd;
	}
	.facList_wrap a .eng {
		padding:15px 0 11px;
	}
	.facList_wrap a .txt {
		padding:0 0 11px 0;
	}
	.facList_wrap .swiper-container .swiper-pagination {
		/*display:none;*/
        display:block;
	}
	
	.facList_wrap .swiper-slide:first-child {
		/*margin-left:10px;*/
	}


	.fac_title h3 {
font-size:30px !important;
}

	.fac_title p {
font-size:16px !important;
}

    .fac_title p {
        margin: 6px 0 !important; display:none;
    }
    .fac_title{
        padding-bottom:0px;
    }

    .facList_wrap .swiper-container .swiper-button-prev {
        width:80px; height:80px;
        top:31%; leftt:0;
        background:url('../../../../../img.einet.kr/responsive/home/room/arrow-left-small2.png') center center no-repeat;
        background-size:cover;
        transition: opacity 0.5s;
    }
    .facList_wrap .swiper-container .swiper-button-next {
        width:80px; height:80px;
        top:31%; right:0;
        background:url('../../../../../img.einet.kr/responsive/home/room/arrow-right-small2.png') center center no-repeat;
        background-size:cover;
        transition: opacity 0.5s;
    }

    .facList_wrap .owl-dot.active {
        width:35px;
    }
    .facList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet {
        margin:0 7px;
        width:6px; height:6px;
        border-radius:30px;
        background:#888;
        transition: width 0.5s;
        opacity:1;
    }
    .facList_wrap .swiper-container .swiper-pagination {
        position:relative;
        margin-top:15px;
    }
}

@media (max-width:820px) {
    .fac_title h3 {
        font-size:25px !important;
        line-height:35px
    }
    .fac_title p {
        font-size:12px !important;
    }
    .fac_title a {
        height:35px;
        line-height:30px;
    }
    .section7 {
        padding: 20px 0 15px;
    }
}

@media (max-width:600px) {
.facList_wrap .swiper-container { position:relative; }
.facList_wrap .swiper-container .swiper-pagination { position:absolute !important; bottom:45px; }
.facList_wrap a .eng { padding-top:25px; }
}

#section8 img {
	width:100%;
}

/*메인 객실 호버시 추가*/
.roomList_wrap a .imgWrap:before{
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    border-top: 85px solid #3989c3;  /*눈알 뒤에 컬러 색상표*/
    border-right: 0 solid transparent;
    transition: border-right 0.3s;
    z-index:10;
}

.roomList_wrap a:hover .imgWrap:before {border-right: 90px solid transparent;}

.roomList_wrap a .icon-view{
        position: absolute;
    top: 12px;
    left: 6px;
    width: 23px;
    height: 14px;
    background: url('../../../../../img.einet.kr/P202010005/home/images/icon-view.png') 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s, left 0.3s, opacity 0.3s, visibility 0.3s;
    z-index: 11;
}
.roomList_wrap a:hover .icon-view{
    top: 20px;
    left: 14px;
    opacity: 1;
    visibility: visible;
}

.roomList_wrap a:hover .imgWrap .loader:after{opacity:0;}

.roomList_wrap a:hover .detailview{letter-spacing: 0.2em;}


@media (max-width:820px){
    .roomList_wrap a .imgWrap .loader:after{display:none;}
    .roomList_wrap a .imgWrap .loader:before{display:none;}
    .roomList_wrap a:hover .icon-view{display:none;}
    .roomList_wrap a:hover .imgWrap:before{display:none;}
}